<div>
    {{!-- Need to login to see the dashboard page --}}
    {{#if logged_in}}
    <div class='loggedin-dashboard'>
        {{#each posts}}
        <a href='/post/{{id}}'>
            <h2 class='dashboard-post'>{{title}}</h2>
            <p>Created by {{user_id}} on {{format_date date_created}}</p>
        </a>
        {{/each}}
        <section>
            <a href="/api/post/newpost">
                <button type="button" class="btn createPost-btn"> + New Post </button>
            </a>
        </section>

    {{/if}}
</div>