<div>
    <form class="edit-post">
        {{!-- Get the post we want to edit/delete and display the existing info --}}
        <h2>Edit Post</h2>
        <label class="editPost-title" for="editPost-title">Title: </label>
        <input id="editPost-title"/>
        <textarea id="editPost-content" name="edit-post" rows="8" cols="90"></textarea>
        <br>
        <section class="editPost-sec">
            <button type="submit" class="btn editPost-btn">Update Post</button>
            <button type="submit" class="btn deletePost-btn">Delete Post</button>
        </section>
    </form>
</div>

<script src="/js/editPost.js"></script>