<div>
    <form class="login-form">
        <h2>Login</h2>
        <section>
            <label for="login-user">Username: </label>
            <input type="text" placeholder="Username" id="login-name" /><br><br>
            <label for="login-password">Password: </label>
            <input type="text" placeholder="Password" id="login-pw" />
        </section>
        <button type="submit" class="btn login-btn">LOGIN</button>
        <h3>Don't have an account yet? <a href="/signup">Create an account</a></h3>
    </form>
</div>

<script src="/js/login.js"></script>