<div>
    <form class="add-post">
        <h2>Create New Post</h2>
        <label class="newPost-title" for="newPost-title">Title:</label>
        <input id="newPost-title"/>
        <textarea id="newPost-content" name="new-post" rows="8" cols="90"></textarea>
        <br>
        <button type="submit" class="btn newPost-btn">Create Post</button>
    </form> 
</div>

<script src="/js/newPost.js"></script>