<div>
    <form class="signup-form">
        <h2>Sign Up</h2>
        <section>
            <label for="signup-user">Username: </label>
            <input type="text" placeholder="Username" id="signup-name" /><br><br>
            <label for="signup-password">Password: </label>
            <input type="text" placeholder="Password" id="signup-pw" />
        </section>
        <button type="submit" class="btn signup-btn">Create Account</button>
        <h3>Already have an account? <a href="/login">Login</a></h3>
    </form>
</div>
<script src="/js/signup.js"></script>